Docker/node_flows.json
[{"id":"79f7aac3.66af54","type":"tab","label":"TTN to Influx"},{"id":"d02e0b9b.153d48","type":"mqtt-broker","z":"","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"f4519989.cfadf8","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"ttn","name":"","usetls":false,"tls":""},{"id":"e9c979cc.358648","type":"mqtt in","z":"79f7aac3.66af54","name":"lopy-mancho","topic":"+/devices/lopy-mancho/up","qos":"2","broker":"d02e0b9b.153d48","x":230,"y":180,"wires":[["82926c2.a8d1f9"]]},{"id":"fc755341.4a3cc","type":"debug","z":"79f7aac3.66af54","name":"","active":false,"console":"false","complete":"true","x":570,"y":680,"wires":[]},{"id":"82926c2.a8d1f9","type":"json","z":"79f7aac3.66af54","name":"","x":390,"y":180,"wires":[["637c0ece.5cf09","ae17f538.5adf08","7a69eef2.ebd2d"]]},{"id":"637c0ece.5cf09","type":"change","z":"79f7aac3.66af54","name":"","rules":[{"t":"move","p":"payload.payload_raw","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":240,"wires":[["befb601f.799c9"]]},{"id":"befb601f.799c9","type":"base64","z":"79f7aac3.66af54","name":"","x":860,"y":240,"wires":[["2e5cd269.1ce63e"]]},{"id":"2e5cd269.1ce63e","type":"binary","z":"79f7aac3.66af54","name":"packet","pattern":"l16 => battery, l16 => temperature","x":1010,"y":240,"wires":[["7a69eef2.ebd2d"]]},{"id":"5b7e1251.4509fc","type":"function","z":"79f7aac3.66af54","name":"to_influx","func":"new_payload = [\n    {\n        battery: msg.payload.battery * ((56 + 115) / 56) / 1000,\n        temperature: msg.payload.temperature/10\n    },\n    {\n        app_id: msg.payload.app_id,\n        dev_id: msg.payload.dev_id,\n        hardware_serial: msg.payload.hardware_serial,\n        geohash: msg.payload.geohash\n    }\n    ];\nmsg.payload = new_payload;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":420,"wires":[["ca71a239.3ed44","895567e7.0223b8"]]},{"id":"ca71a239.3ed44","type":"debug","z":"79f7aac3.66af54","name":"","active":false,"console":"false","complete":"false","x":870,"y":680,"wires":[]},{"id":"895567e7.0223b8","type":"influxdb out","z":"79f7aac3.66af54","influxdb":"f4519989.cfadf8","name":"","measurement":"lopy","x":960,"y":420,"wires":[]},{"id":"7c9f0dee.294c44","type":"geohash","z":"79f7aac3.66af54","name":"geohash","x":740,"y":180,"wires":[["79d19e67.1f6da"]]},{"id":"ae17f538.5adf08","type":"function","z":"79f7aac3.66af54","name":"latlong","func":"gw0 = msg.payload.metadata.gateways[0];\nlat = gw0.latitude;\nlon = gw0.longitude;\nmsg.payload = `${lat},${lon}`;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":180,"wires":[["7c9f0dee.294c44"]]},{"id":"7a69eef2.ebd2d","type":"join","z":"79f7aac3.66af54","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"3","x":470,"y":420,"wires":[["5b7e1251.4509fc","fc755341.4a3cc"]]},{"id":"79d19e67.1f6da","type":"change","z":"79f7aac3.66af54","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.geohash","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":180,"wires":[["7a69eef2.ebd2d"]]}]